<!DOCTYPE html>
<html>
<head lang="en">
    <title>Spring with Spring Boot, Spring MVC, and Kotlin</title>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<form action="login" method="POST">
    <label><b>Username</b></label>
    <input name="uname" placeholder="Enter Username" type="text">
    <br/>
    <br/>
    <label><b>Password</b></label>
    <input name="psw" placeholder="Enter Password" type="password">
    <br/>
    <br/>
    <button type="submit">Login</button>
</form>
</body>
</html>